/* réutilise les mêmes classes que Login.css */
.form-row.btns {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.btn-outline {
  background: #fff;
  color: #111;
  border: 1px solid #bbb;
  padding: 8px 14px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
}
